/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

figure {
    margin: 0;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    gap: 30px;

}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 18px;

}

.fa-solid {
    color: var(--main-color);
    font-size: 22px;

}

.fa-location-dot {
    color: #000;
}

.fa-money-bill-wave {
    padding-right: 10px;
}

.fa-heart {
    padding-right: 10px;
}

.fa-fire {
    padding-right: 10px;
}

header h1 {
    font-size: 22px;
    margin-bottom: 8px;
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {

    margin-right: 67px;
    margin-left: 55px;
}

header img {
    height: 19px;
    width: 62px;
    margin-top: 30px;
    margin-bottom: 60px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav a {
    display: inline-block;
    padding-top: 10px;
    border-top: 1px solid transparent;

}

nav a:hover,
nav a:focus {
    border-color: var(--main-color);
    color: var(--main-color);
}

header nav ul {
    list-style-type: none;
    display: flex;


}

.tagline-infos {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 5px;

}

.icon-search {
    width: 50px;
    height: 50 px;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.icon-info {
    border: 1px solid lightgrey;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fa-info {
    font-size: 15px;
}

input {
    width: 100%;
    text-decoration-color: var(--black);
    font-size: 18px;
    font-weight: 700;
    background: white;
    border: 1px solid var(--main-bg-color);
    padding-left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: rgb(0, 0, 0);
}

button {
    height: 49px;
    background-color: var(--main-color);
    color: white;
}

.search-button {
    width: 132px;
    gap: 10px;
    border-radius: 0 15px 15px 0;
    border-style: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

}

.search-magnifying-glass {
    display: none;
    border-radius: 15px;
    padding: 10px;
}

.fa-magnifying-glass {

    color: #FFF
}

.fa-search {
    visibility: hidden;
}

/*-- partie filtre --*/

.filtre h2 {
    font-size: 18px;

}

.filtre-section {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.filtre li:hover,
.filtre li:focus {
    background: var(--filter-bg-color)
}

.filtre li {
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
    font-size: 17px;

}


.filtre a {
    color: black;
    padding-left: 10px;

}


.filtre {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;

    gap: 50px;
    box-sizing: border-box;
}



/*--N--*/


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-txt {
    display: flex;
    flex-direction: column;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/** Hebergements et  **/
#hebergement {
    flex-direction: row;
}

#activite {
    padding: 35px 0;
}

/** Hebergements And Populaires **/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 61%;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    box-sizing: border-box;

}

.hebergements .row {
    margin-bottom: 30px;
}

.hebergement-cards {
    width: 30%;
    height: 207px;
    display: flex;
    flex-direction: column;
}

.hebergements .section-title {
    padding-bottom: 20px;
}

.hebergement-cards h3 {
    margin-top: 10px;
    padding-left: 10px;
}

.hebergement-cards p {
    margin: 10px 0;
    padding-left: 10px;
}

.hebergement-cards div {
    padding-left: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

.dispo {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.align {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.hebergement-cards-col {
    display: flex;
    flex-wrap: wrap;
}

.hebergement-cards img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;

}

.hebergement-card-lign {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 207px;
}



/****** Populaires ***********/
.populaires {
    width: 28%;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaires-cards .card-content {
    width: 67%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

main figcaption {
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px 5px;

}

main h2 {
    font-size: 22px;
}

main h3 {
    font-size: 16px;
}

main h4 {
    font-size: 18px;
    cursor: pointer;
}

main p {
    font-size: 14px;
}
b {
position: absolute;  
margin: 20px 0 -5px;


}
.activite-section {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 65px;
    margin-top: 30px;

}

.card-lign {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
}

.card-activites {
    width: 23%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);

}

.card-activites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;

}

figure {
    height: 100%;
}

footer {
    padding: 45px 50px;
    display: flex;
    justify-content: space-between;
    background: var(--main-bg-color)
}

footer ul {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

footer li {
    display: flex;
    flex-flow: column;
    font-size: 16px;


}

footer h3 {
    font-size: 18px;
    padding-bottom: 10px;
}

footer section {
    width: 30%;

}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media screen and (max-width: 1023px) {
    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .main-container {
        padding: 0 20px;
    }

    .row {
        flex-direction: column;

    }

    .filtre {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .filtre li {
        font-size: 16px;
        padding: 15px;
    }

    .tablette-align {
        flex-direction: row;
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }

    .populaires {
        margin-top: 50px;
        margin-right: 10px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .fa-solid {
        font-size: 18px;
    }

    main figcaption {
        margin-top: 0;
    }



    .footer {
        justify-content: space-between;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {

    /* ... */
    header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .tagline-infos,
    .filtre,
    .dispo,
    .hebergements
    {
        padding: 0 20px;
    }
.populaires{
    padding: 20px;
}
    .main-container {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 15px;

    }

    nav img {
        margin: 30px;
    }

    nav ul {
        padding: 0;
    }

    header nav ul {
        width: 100%;
        justify-content: space-around;
        gap: 0px;
    }

    nav li {
        width: 50%;
        text-align: center;
    }

    nav a:hover {
        border-top: none;

    }

    nav a {
        width: 100%;
        display: inline-block;
        padding-bottom: 15px;
        border-bottom: 1px solid transparent;
    }

    .search-button {
        display: none;
    }

    .search-magnifying-glass {
        display: block;
    }

    .filtre li {
        width: 140px;
        padding: 10px;
    }

    .row {
        align-items: center;
        flex-direction: column-reverse;
    }

    .populaires {
        margin-right: 0px;
    }

    .hebergements {
        background-color: transparent;

    }

    .hebergement-cards {
        width: 90%;
        margin: 10px;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards {
        width: 85%;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .populaires-cards a {
        width: 100%;
    }

    .card-activites img {
        height: 141px;
    }

    .card-lign {
        flex-direction: column;
        align-items: center;
    }

    .card-activites {
        width: 90%;
        margin: 10px;

    }
    main figcaption {
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        padding: 5px 0 10px 20px;
    }
    .card {
        padding: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer section {
        width: 100%;
        padding-bottom: 20px
    }

}