/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
    font-size: 22px;  

}  

header a {
    text-decoration: none;
    color: var(--main-color);
}
header h1 {
font-size: 22px;
margin-bottom: 8px;
}
header p {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
}
/** demander pourquoi ces mesures de main container **/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
<!--celine-->
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 67px;
    margin-left: 55px;
}
header img {
    height: 19px;
    width: 62px;
    margin-top: 30px;
    margin-bottom: 60px;
}
nav header ul {
    list-style-type: none;
    display: flex;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav a {
    display: flex;
    justify-content: center ;
    width: 194px;
    padding-top: 16px;
}
header nav ul {
    list-style-type: none;
    display: flex;

}
.tagline-infos {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.search-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 5px;
    
}


.icon-search {
    width: 50px;
    height: 50 px;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dispo {
    display: flex;
    align-items: center;
}

.icon-info {
border: 1px solid lightgrey;
border-radius: 100%;
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;

}
.dispo div:nth-child(2) {
    padding-left: 10px;
}

.fa-info {
    font-size: 15px;
}
input {
    text-decoration-color: var(--black);
    font-size: 18px;
    font-weight: 700;
    background: white;
    border: 1px solid var(--main-bg-color);
    padding-left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input:focus {
    outline: none;
}
.input::placeholder {
    color: rgb(0,0,0);    
}
.search-button {
    width: 132px;
    height: 49px;
    gap: 10px;
    border-radius: 0 15px 15px 0; 
    border-style: none;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.search-magnifying-glass {
    display: none;
}
.button :hover {
    background-color: #0255d3;
    cursor: pointer;
}
.fa-search {
    visibility: hidden;
}
/*-- partie filtre --*/

.filtre h2 {
    font-size: 18px;

}
.filtre-section {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.filtre li {
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    width: 70%;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 15px;
    text-align: center;
    justify-content: center;
}

.card-filtre :hover {
    background-color: #DEEBFF;
    border-color: transparent;
    cursor: pointer;
}
.filtre {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}


/*--N--*/


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
.card-txt{
    display: flex;
    flex-direction: column;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/** Hebergements et  **/
#hebergement {
flex-direction:row ;
}
#activite {
    padding: 35px 0;
}  

/** Hebergements And Populaires **/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 61%;
    background-color:var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    
}
.hebergements .row {
    margin-bottom: 30px;
}
.hebergement-cards {
    width: 30%;
    height: 207px;
    display: flex;
    flex-direction: column;
}
.hebergements .section-title{
    padding-bottom: 20px;
}

.hebergement-cards h3{
    margin-top: 10px ;
    padding-left: 10px;
}
.hebergement-cards p{
    margin: 10px 0;
    padding-left: 10px;
}
.hebergement-cards div{
    padding-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;

}

.align {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.hebergement-cards-col{
    display: flex;
    flex-wrap: wrap;
}

.hebergement-cards img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
   
}
.hebergement-card-lign {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 207px;
}



/****** Populaires ***********/
.populaires {
    width: 28%;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

main figcaption {
font-size: 16px;
margin-left: 19px;
cursor: pointer;
font-weight: bold;
margin-top: 10px;
}
main h2 {
    font-size: 22px;
}
main h3 {
    font-size: 16px;
}
main h4{
    font-size: 18px;
    cursor: pointer;
}
main p {
    font-size: 14px;
}

.activite-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 50px;
    margin-bottom: 65px ;
    margin-top: 30px;


}  
.card-lign {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
}

.card-activites {
    width: 23%;
    border-radius: 20px 20px 20px 20px ;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    
}
.card-activites img{
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
    padding-bottom: 10px;
}   
figure {
    height: 100%;
}

footer {

    padding: 45px 70px;
    display: flex;
    justify-content: flex-start;
    background: var(--main-bg-color)}

footer li {
    display: flex;
    font-size: 16px;

}

footer h3{
    font-size: 18px;
}
footer a {
    color: var(--black);
    text-decoration: none;

}
footer section {
    width: 30%;
    
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media screen and (max-width: 1024px) {
.main-container{
    padding: 0 20px;
}
    .row {
        flex-direction: column;
    
    }
    .tablette-align {
        flex-direction: row;
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}